%h1{
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin-top: 24px;
    a{
        display: inline-block;
        img{
            max-width: 176px;
            max-height: 54px;
            cursor: pointer;
        }
    }
}

%bgf{
    background: #fff;
}

%ad-left{
    height: 60px;
    width: 195px;
    margin: 20px 90px 0 10px;
    background: url(../img/top/header-left.png) no-repeat;
}
%footer{
    border-top: 1px solid #ccc;
    text-align: center;
    p{
        color: #666;
        word-spacing: 5px;
        padding: 10px 0;
    }
}
%mallvvCode{
    position: absolute;
    display: block;
    height: 28px;
    line-height: 28px;
    width: 90px;
    text-align: center;
    background: #faa41b;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}