// 头部


$container:1200px;

$fl:left;
$fr:right;

$textaligin:center;
$fontSize:16px;
$fontSize12:12px;
$fontSize14:14px;

$show : block;
$hide:none;

$mainBGCColor:#fff;
$highcolor:#FFA500;
$mainFontColor:#777;

@mixin after($w:0px,$h:0){
    position: absolute;
    content: '';
    display: block;
    height: $h,;
    width: $w;
}