// 头部
$pub_nav_h:30px;


$container:1200px;

$fl:left;
$fr:right;

$textaligin:center;
$fontSize:16px;
$fontSize12:12px;
$fontSize14:14px;

$show : block;
$hide:none;

$mainBGCColor:#fff;
$tipcolor:#FFA500;
$mainFontColor:#777;