/* 头部样式 */
@import 'var';
@import 'common';
$pub_nav_h:30px;

.more::after{
    content: "";
    display: block;
    height: 3px;
    width: 6px;
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -2px;
    background: url(../img/top/top_bg.png) no-repeat;
    transition: all .3s ease-in;
}

.pub-header-top{
    .container{
        height: 30px;
        background: #FAFAFA;
        border-bottom: 1px solid #F0F0F0;
        font-size: 13px;
        line-height: 30px;

    
        .pub-top-left{
            position: relative;
            div{
                position: relative;
                padding-left: 11px;
                z-index: 10;
                &:hover em::after {
                    transform: rotateZ(180deg);
                } 
            }
            em{padding-left: 5px; padding-right: 16px;position: relative;}
            .province{
                position: absolute;
                width: 230px;
                height: 308px;
                border: 1px solid #DDDED6;
                left: 0;
                top:$pub_nav_h;
                padding: 12px 28px 0 12px;
                display: none;
                li{
                    font-size: 12px;
                    float: left;
                    padding: 0px 8px;
                    line-height: 20px;
                    margin-right: 2px;
                }
                li.active{
                    background:$highcolor;
                    color: #fff;
                }
                li.active:hover{
                    background: $highcolor;
                }
                li:hover {
                    background: #C3BCC3;
                    cursor:pointer;
                }
            }
            &:hover div{
                border-left: 1px solid #DDDDDD;
                border-right: 1px solid #DDDDDD;
                border-bottom: 1px solid #fff;
                background: #fff;
                padding-left: 10px;
                z-index: 2;
            }
            &:hover .province{
                display: block;
                background: #fff;
                z-index: 12;
            }
        }
        .pub-top-right{
            font-size: 12px;
            dt,dl{
                float: $fl;
            }
            dt{
                .currentAcc{
                    color:$highcolor;
                    font-weight: bold;
                }
                .mallvv{
                    margin: 0 4px;
                    color: #333333;
                }
                .login,.register{
                    margin-right: 10px;
                }
                .register{
                    color: #333333;
                }
            }
            dd{
                position: relative;
                float: $fl;
                background: url(../img/top/topbar-line.png) no-repeat right center;
                
                &.pub-mallvvph{
                    padding-left: 18px;
                    &::before{
                        content: "";
                        display: block;
                        height: 17px;
                        width: 11px;
                        position: absolute;
                        top: 50%;
                        left: 12px;
                        margin-top: -9px;
                        background: url(../img/top/mobile-shopicon.png) no-repeat;
                    }
                    &:hover{
                        background: url(../img/top/topbar-line.png) no-repeat right center;
                        border: 0;
                        div{
                            padding: 0 20px 0 10px;
                        }

        
                    }
                    &:hover::before{
                        margin-top: -10px;
                    }
                }
                &.pub-followus{
                    padding-left:30px; 
                    text-align: center;
                    p{
                        color: $highcolor;
                    }
                    img{
                        width: 96px;
                        height: 96px;
                        margin-bottom: 15px;
                    }
                    &::before{
                        content: "";
                        display: block;
                        height: 16px;
                        width: 16px;
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        margin-top: -8px;
                        background: url(../img/top/weixin.png) no-repeat;
                    }
                    &:hover::before{
                        left: 14px;
                        margin-top: -9px;
                    }
                }
                div{
                    padding: 0 20px 0 10px;
                }
                        
                a{
                    color: $mainFontColor;
                    height: 12px;
                    line-height: 12px;
                }
                ul{
                    position: absolute;
                    top: $pub_nav_h;
                    left: 0;
                    border: 1px solid #ECECEC;
                    border-top: 0;
                    display: none;
                    background: #fff;
                    li{
                        font-size: 12px;
                        line-height: 28px;
                        padding: 0 6px 0 10px;
                    }
                }
                
                &:last-child{
                    background:none;
                } 
                &:hover{
                    background: #fff;
                    border-left: 1px solid #ECECEC;
                    border-right: 1px solid #ECECEC;
                    cursor: pointer;
                    div{
                        padding: 0 19px 0 9px;
                        border-bottom: 1px solid #fff;
                        z-index: 5;
                    }

                    ul{
                        display: block;
                        left: -1px;
                        right: -1px;
                        z-index: 4;
                    }
                    &::after{
                        transform: rotateZ(180deg);
                    }
                }
            }
        }
    }
}

.pub-header-center{
    .container{
        height: 100px;
        h1{
            @extend %h1;
        }
        .pub-ad-left{
            @extend %ad-left;
        }
        .pub-search-warp{
            height: 60px;
            width: 510px;
            padding-top: 23px;
            box-sizing: border-box;
            .pub-search{
                width: 504px;
                height: 36px;
                background: $highcolor;
                padding: 3px;
                .sea-type{
                    position: relative;
                    width: 64px;
                    box-sizing: border-box;
                    line-height: 36px;
                    background: #F9F9F9;
                    padding-left: 14px;
                    ul{
                        position: absolute;
                        width: 64px;
                        text-align: center;
                        left: 0;
                        background: #fff;
                        box-sizing: border-box;
                        border: 1px solid #ccc;
                        display: none;
                        li:hover{
                            cursor: pointer;
                            background: $highcolor;
                        }
                    }
                    &::after{
                        right: 14px;
                    }
                    &:hover{
                        ul{
                            display: block;
                            z-index: 10;
                        }

                    }
                    &:hover::after{
                        transform: rotate(180deg)
                    }
                }
                .sea-txt{
                    width: 360px;
                    height: 36px;
                    box-sizing: border-box;
                    padding-left: 6px;
                }
                .search{
                    font-size: 14px;
                    box-sizing: border-box;
                    width: 80px;
                    height: 36px;
                    font-weight: bold;
                    color: #fff;
                    background: $highcolor;
                    &:hover{
                        cursor: pointer;
                        font-size: 18px;
                    }
                }
            }
            .search-hot{
                line-height: 26px;
                a{
                    margin-right: 10px;
                }
                .hot{
                    color: $highcolor;
                }
            }
        }
        .pub-mycart{
            position: relative;
            margin-top: 23px;
            span.pub-cart-nam{
                display: block;
                width: 147px;
                height: 42px;
                background: #FAFAFA;
                border: 1px solid #ccc;
                line-height: 42px;
                padding-left: 40px;
                box-sizing: border-box;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    height: 17px;
                    width: 26px;
                    position: absolute;
                    top: 50%;
                    margin-top: -9px;
                    left: 10px;
                    background: url(../img/top/top_bg.png) no-repeat -120px 0;
                }
                &::after{
                    margin-left: 8px;
                    @extend %mallvvArrow;
                }
                &:hover{
                    background: #fff;
                    border-bottom-color: #fff;
                    z-index: 33;
                    &::after{
                        transform: rotateZ(180deg);
                    }
                }
            }
            .pub-cart-val{
                background: #fff;
                position: absolute;
                width: 350px;
                height: 151px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                top: 40px;
                right: 0px;
                z-index: 30;
                display: none;
                .pub-cart-title{
                    line-height: 28px;
                    height: 28px;
                    padding: 7px;
                    border-bottom: solid 1px #DDD;
                    h4{
                        font-weight: bold;
                    }
                }
               .pub-cart-list{
                   min-height: 58px;
                   span{
                        display: block;
                        line-height: 58px;
                        text-align: center;
                   }
               }
               .pub-cart-balance{
                    background-color: #F0F0F0;
                    text-align: right;
                    padding: 8px;
                    overflow: hidden;
                   a{
                        float: right;
                        clear: both;
                        line-height: 20px;
                        color: #FFF;
                        background-color: #ffa500;
                        padding: 4px 8px;
                        margin-top: 4px;
                        border-radius: 4px;
                   }
               }
            }
            &:hover .pub-cart-val{
                display: block;
            }
        }
    }
}

.pub-header-bottom{
    border-bottom: 2px solid #000;
    .container{
        .pub-recommend{
            position: relative;
            span{
                display: inline-block;
                width: 212px;
                background: $highcolor;
                color: #fff;
                height: 37px;
                line-height: 37px;
                font-size: 14px;
                position: relative;
                padding-left: 36px;
                box-sizing:border-box;
                &::before{
                    content: '';
                    display: block;
                    width: 18px;
                    height: 14px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                    background: url(../img/top/top_bg.png) no-repeat -182px -186px;
                }
            }
            .pub-rec-menu{
                position: absolute;
                background: #2B2B2B;
                z-index: 10;
                .pub-menu-list{
                    padding: 5px 21px 8px 15px;
                    width: 176px;
                    background: url(../img/top/category-line.jpg) 0px bottom repeat-x ;
                    div{
                        a{
                            color: $highcolor;
                            line-height: 33px;
                        }
                    }
                    ul{
                        position: relative;
                        li{
                            float: left;
                            display: block;
                            height: 24px;
                            line-height: 24px;
                            padding-right: 3px;
                            clear: none;
                            white-space: nowrap;
                            a{
                                color: #fff;
                                &:hover{
                                    color: $highcolor;
                                }
                            }
                        }
                    }
                }
            }

        }
        .pub-nav{
            position: relative;
            .pub-nav-first{
                width: 988px;
                background: url(../img/top/nav-right.png) no-repeat right center;
                li{
                    float: left;
                    a{
                        display: inline-block;
                        padding: 8px 18px;
                        font-size: 16px;
                        &:hover{
                            color: $highcolor;
                        }
                    }
                }
            }
            .pub-nav-second{
                display: none;
                position: absolute;
                left: 0;
                top: 36px;
                z-index: 999;
                overflow: hidden;
                width: 988px;
                padding: 10px 0;
                border-top: 2px solid #000;
                background: #fff;
                .col-blcok{
                    .pub-nav-wrap{
                        float: left;
                        width: 300px;
                        margin: 0 10px;
                        overflow: hidden;
                        a{
                            display: block;
                            line-height: 30px;
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            white-space: nowrap;
                            font-weight: 700;
                            color: #333;
                        }
                        ul{
                            padding: 5px 0;
                            line-height: 1.8;
                            overflow: hidden;
                            li{
                                float: left;
                                line-height: 1.2;
                                color: #929292;
                                a{
                                    font-weight: 500;
                                    display: inline-block;
                                    padding: 0 10px;
                                    white-space: nowrap;
                                    line-height: 24px;
                                    color: #929292;
                                    border-bottom: 0;
                                    &:hover{
                                        background: $highcolor;
                                        color: #fff;
                                    }
                                }
                            }
                        }

                    }
                }
                
            }
        }
       
    }
}

// 公用导航样式
.mallvv-current-nav{
    height: 40px;
    line-height: 40px;
    font-size: 0;
    i{
        font-size: 14px;
        color: #AAAAAA;
        margin-left: 1px;
    }
    span{
        font-size: 12px;
        margin: 0 3px;
    }
}
