/*书写页面公共部分的代码 */
/*公共类*/
.container {  /*内容、版心 提取 */
    width: 980px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.ac {
    text-align:center;
}
.hide {
    display:none;
}
.show{
    display: block;
}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}